@import url('https://fonts.googleapis.com/css?family=Sansita');

aside {border: 2px solid green;
	position: absolute;
	top: 100px;
	right: 10px;
}

p{
	font-family: 'Sansita', sans-serif;
	color: purple;
	}

h1{
	border: 5px solid green;
	color: orange;
	text-align:center;
}

footer{
	bo
}